@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: contato;
    src: url(font/bubblegum-sans-regular.otf);
    font-weight: normal;
}
/* Comentários */

* {
    border: 0;
    /* margin: 0; */
    padding: 0;
}

:root {
    --cor1: #93e9e9; /*Cor de titulo*/
    --cor2: #48b1ac; /*Cor dos botões*/
    --cor3: #343538;
    --cor4: #a9a9a9;
    --cor5: #ffffff;
    --titulo: "contato";
    --texto: "Montserrat","sans-serif";
}

body {
    background: var(--cor1);
    background: var(--cor1);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

h1{
    font-family: contato;
    text-align: center;
    color: var(--cor3);
    font-size: 3em;
}

/* ____________________________________________________________________________________________________ */
/* Explicação Media Query */
.layout {
    /* centralizar conteúdo */
    margin: 0 auto;
}


/* Smartphone Portrait - pé */

header {
    height: 60px;
}
.logo{
    padding: 5px 10px;
}
.label_menu {
    font-size: 3em;
    position: fixed;
    color: rgba(0, 0, 0, 0.5);
}

nav ul{
    list-style: none;
    background:var(--cor3) ;
    height: 100vh;
    position: fixed;
    top:60px;
    width: 100%;
    right: -100%;
    font-family: var(--titulo);
}

#check:checked ~ ul {
    right: 0;
}

nav ul li{
    padding: 20px;
    border-bottom: 1px solid;
    border-color: var(--cor4);
}

nav ul li a{
    text-decoration: none;
    color: var(--cor5);
    
}
.anime1,.anime2{
    display: none;
}

/*Formulário*/
.form{
    font-family: "Montserrat", sans-serif;
}
.form p{
    font-size: 1em;
    
}
#usuario, #endereco, #mensagem, #pedido, #sexo{
    border: 1px solid  var(--cor3);
    width: 330px;
    margin: 15px 5px;
    padding: 5px;
}
#sexo{
    width: 280px;
}

legend{
    font-size: 1.3em;
}

input, select{
    height: 2em;
    border:none;
    margin: 5px;
    padding: 2px;
}
textarea{
    margin-top: 15px;
    border: none;
}

/* Smartphone Landscape - deitado */
@media(min-width:576px) {
    /*body {}*/

    .layout {
        max-width: 540px;

    }
    .anime1, .anime2{
        max-width: 100%;
        height: auto;
    }
    .anime1{
        display: inline;
    }    
    /*Formulário*/
    #usuario, #endereco, #mensagem, #pedido{
    width: 520px;
}
}

/* Tablet Portrait - pé */
@media(min-width:768px) {
   /* body {

    } */

    .layout {
        max-width: 720px;
        background: var(--cor2);        
    }

    .anime2{
        display: inline;
    }
    .anime1{
        display: none;
    }

    #usuario, #endereco, #mensagem, #pedido{
        width: 720px;
    }
    #usuario{
        background: url(img/icontato.png) no-repeat 95% 95%;
    }

    #endereco{
        background: url(img/iendereco.png) no-repeat 95% 95%;
    }
    #mensagem{
        background: url(img/imensagem.png) no-repeat 95% 95%;
    }
    #pedido{
        background: url(img/ipgto.png) no-repeat 95% 95%;
    }  
}


/* Tablet Landscape - deitado */
@media(min-width:992px) {
   /* body{
       
    }*/
    .layout {
        max-width: 960px;
        background: var(--cor2);
    }
    .banner{
        height: 36vh;
    }
    #usuario, #endereco, #mensagem, #pedido{
        width: 940px;
    }
}

/* PC */

@media(min-width:1200px) {
    /*body {  
    }*/
    .layout {
        max-width: 1140px;        
    }
    header{
        height: 90px;
    }
    .logo img {
        margin: 20px 0px 0px 10px;
    }
    .label_menu{
        display: none;
    }
    nav ul{
        position: static;
        height: auto;
        background: transparent;
        margin-top: 30px;
    }
    nav ul li{
        float: left;
        border: 0;
    }    
    nav ul li a{
        color: var(--cor3);
        font-weight: bold;
    }
    nav ul li a:hover{
        color: var(--cor5);
    }
}